<!-- make the site a bit more interactive by allowing the user to choose which currency they would like to see. 
 We’ll start by altering our HTML to allow the user to input a currency: -->
<!DOCTYPE html>
<html>
    <head>
        <title>Currency Converter</title>
        <script src="currency.js"></script>
    </head>
    <body>
        <form id="currencyForm">
            <input id="currencyInput" type="text">
            <input id="submitCurrency" type="submit">
        </form>
        <p id="currencyParagraph">$1 = ...</p>
    </body>
</html>